[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ex]tIldasm/

.vscode/
!.vscode/extensions.json

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

BenchmarkDotNet.Artifacts/
TestResults/

*.nupkg
**/packages/
!**/packages/build/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store